/* monda font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,500;1,600;1,700&family=Lato:wght@300;400&family=Monda&family=Saira:ital,wght@0,200;0,300;0,400;0,600;0,900;1,300;1,700;1,800&family=Shantell+Sans:wght@300;400&display=swap');

:root {
    --oq: #ffffff;
    --hover: #8d8db8;
    --top_bg: #182d56;
    --border1: linear-gradient(to left, #2ade51a1, #303ed7a3);
}

/*-------------------------------------------------- 
                     RESET CSS
-------------------------------------------------- */
/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.bg-img {
    background-image: url(../images/bg_fint1.png);
    background-size: cover;
    /* -webkit-backdrop-filter: blur(5px); */
}

body {
    background-attachment: fixed;
    overflow: hidden;
    font-family: 'JetBrains Mono', monospace;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

/* Links */

a,
a:link,
a:visited {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/*-------------------------------------------------- 
                     RESET CSS
-------------------------------------------------- */
/*-------------------------------------------------- 
                     TOP START
-------------------------------------------------- */
.top_top {
    width: 100%;
    height: 27px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Monda', sans-serif;
    background: var(--top_bg);
    color: var(--oq);
    /* box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.244); */
}

.top_menu {
    margin: 0 20px;
    color: var(--oq);
}

.us:hover,
.up:hover,
.in:hover {
    color: var(--hover);
    cursor: pointer;
}

.lan {
    margin: 0 !important;

}

.lan img {
    color: var(--oq);
    margin-top: 3px;
    width: 20px;
    height: 20px;
}

/* .earth {} */

.selectpicker {
    background: var(--top_bg);
}


.selectpicker option {
    cursor: pointer;
}

/* .lupa {} */

/*-------------------------------------------------- 
                     TOP END
-------------------------------------------------- */
/*-------------------------------------------------- 
                     LEFT NAV START
-------------------------------------------------- */


.offcanvas {
    transition: 0.8s ease-out;
    visibility: visible !important;
    background: var(--top_bg);
    color: var(--oq);
    user-select: none;
    cursor: url(../images/pritsel.png) 2 2, pointer;
}

.ofcanvas_btn {
    position: absolute;
    top: 50px;
    right: 50px;
    color: red;
    z-index: 0;
}

.offcanvas-title {
    margin: auto;
    font-size: 25px;
    font-weight: bold;
}

.btn-close {
    outline: none !important;
    background: var(--top_bg);
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    opacity: 0.9 !important;
}

.btn-close img {
    width: 30px;
    height: 30px;
}

.left_canvas {
    display: flex;
    flex-direction: column;
}

.for_col {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
}

.nav_ico {
    margin: 15px 0;
    align-items: center;

    padding: 10px;
    border-image-source: var(--border1);
}

.nav_ico img {
    width: 40px;
    height: 40px;
}

.ico_text {
    margin: 0 10px;
    font-size: 25px;
}

.home * {
    overflow: hidden;
}

.home_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


/*-------------------------------------------------- 
                     LEFT NAV END
-------------------------------------------------- */

/* --------------------- light mode effect ---------------*/
.light {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y), rgb(0, 34, 255) 10%, rgba(0, 0, 0, 0.968) 20%);
    z-index: -2;
}

/* --------------------- light mode effect ---------------*/

/* ---------------------container ------------------------*/
.h_container {
    width: 70%;
    height: 100vh;
    margin: 0 auto;
}

.c_menus * {
    user-select: none;
}

.home_menus {
    position: absolute;
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 11;
}

.menu,
.menu_2 {
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_2 {
    padding: 90px;
}

.home_menus_2 {
    position: absolute;
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 22;
}

.m_t {
    text-align: center;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to top right, #ffffff 30%, #484848 100%);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
}

.m_t:hover {
    transform: scale(1.1);
    background: linear-gradient(to top right, #e4e4e4 50%, #ffffff 100%);
    /* -webkit-background-clip: text; */
}

.swiper-wrapper {
    border: 2px solid #d40b0b;
    /* margin-bottom: 20px; */
    width: 100%;
    height: 100%;
}

.swiper_box{
    border: 2px solid #d40b0b;
}