html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.container_buy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    background: #ffffffcc;
    display: flex;
    justify-content: center;
}

/* ---------------------------------------- */

.swiper_box {
    width: 70%;
    height: 700px;
    /* border: 2px solid red; */
}

.prof_Icon {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.prof_Icon i {
    margin-top: 20px;
    font-size: 40px;
}

.prof_Icon p {
    font-size: 20px;
    width: 100%;
    height: 100%;
    user-select: auto !important;
    object-fit: cover;
}

.prof_Icon img {
    flex-grow: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}