/* .swipers {

} */

.swiper_watch {
    position: absolute;
    width: 150%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0px 0px; */
    z-index: -1;
}

.swiper_watch_container {
    border: 3px solid red;
    width: 100%;
    height: min-content;
    transform: rotate(90deg);
}

.swiper_watch_2 {
    position: absolute;
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -350px;
    z-index: -1;
}

.swiper_watch_container_2 {
    border: 3px solid rgb(4, 255, 0);
    width: 100%;
    height: min-content;
    transform: rotate(90deg);
}

.swiper {
    width: 100%;
    height: max-content;
}

.swiper-slide {
    text-align: center;
    font-size: 250px;
    font-weight: bold;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}